# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dy-workSpace\es-boot-start\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
